<%= form_for([:admin, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :coach_reg_start %><br>
    <%= f.date_select :coach_reg_start %>
  </div>
  <div class="field">
    <%= f.label :coach_reg_end %><br>
    <%= f.date_select :coach_reg_end %>
  </div>
  <div class="field">
    <%= f.label :attendee_reg_start %><br>
    <%= f.date_select :attendee_reg_start %>
  </div>
  <div class="field">
    <%= f.label :attendee_reg_end %><br>
    <%= f.date_select :attendee_reg_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
