<h1>Coach Application for <%= @event.title %></h1>
<h2><%= @coach_application.first_name + ' ' + @coach_application.last_name %></h2>
<p>
  <strong>Status:</strong>
  <%= @coach_application.status.humanize %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach_application.email %>
</p>

<h3>Application text</h3>
<p> <%= @coach_application.application_text %> </p>

<h3>Other text</h3>
<p> <%= @coach_application.other_text %></p>

<h3>Self Care Url</h3>
<p> <%= coach_self_care_url(@coach_application) %></p>

<%= link_to 'Edit', edit_admin_event_coach_application_path(@event, @coach_application) %> |
<%= link_to 'Back', admin_event_coach_applications_path %>
