<% content_for :title do %>
  Rails Girls Hamburg - Upcoming Events
<% end %>
<% if flash[:error].present? %>
  <div data-alert class="alert-box radius">
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div data-alert class="alert-box radius success">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1 class="text-center">Upcoming Events</h1>
<div class="row">
  <div class="large-12 large-centered columns">
    <% @events.reject{|e| e.is_over?}.each do |event| %>
    <h2><%= event.title %></h2>
    <p>Date: <%= event.event_date.to_s(:long) %></p>
    <% if event.description.present? %>
    <p><%= event.description %></p>
    <% end %>
    <h3>Attendee Registration</h3>
    <p>
      <%= attendee_registration_display(event) %>
      <br>
      <% if event.attendee_reg_open? %>
        <%= button_to 'Apply Now', new_event_attendee_application_path(event), class: "button tiny radius", method: 'get' %>
      <% end %>
    </p>
    <h3>Coach Registration</h3>
    <p><%= coach_registration_display(event) %></p>
    <% end %>
    <hr>
  </div>
</div
