<h1>Application for <%= @event.title %></h1>
<h2><%= @attendee_application.first_name + ' ' + @attendee_application.last_name %></h2>
<p>
  <strong>Status:</strong>
  <%= @attendee_application.status.humanize %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee_application.email %>
</p>

<p>
  <strong>Female:</strong>
  <%= @attendee_application.female %>
</p>

<h3>Application text</h3>
<p> <%= @attendee_application.application_text %> </p>

<h3>Prior experience</h3>
<p> <%= @attendee_application.prior_experience %></p>

<h3>Other text</h3>
<p> <%= @attendee_application.other_text %></p>

<h3>Self Care Url</h3>
<p> <%= attendee_self_care_url(@attendee_application) %></p>

<%= link_to 'Edit', edit_admin_event_attendee_application_path(@event, @attendee_application) %> |
<%= link_to 'Back', admin_event_attendee_applications_path %>
